button {
  padding: 8px;
  margin: 10px 0px 10px 0px;
  border: none;
  border-radius: 3px;
  background-color: #5bb1ea;
  color: #ffffff;
  cursor: pointer;
}

button:hover {
  background-color: #315d7b;
}

h1 {
  margin-left: 13%;
}

input {
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 4px;
  margin: 2px 0px 2px 0px;
}

input:focus {
  outline: none;
  border-color: #5bb1ea;
  box-shadow: 0px 0px 5px #276893;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

tbody tr td:hover {
  background-color: #f5f5f5;
}

.Edit {
  color: #5bb1ea;
  cursor: pointer;
}

.Delete {
  color: red;
  cursor: pointer;
}